body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, san-serif;
    background-color: #ffebbb;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    text-align: center;
    width: 90%;
    max-width: 800px;
}

